<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Ginger App {{.error_code}} {{.error_title}}</title>
    <style>
        html,body {
            margin: 0;
            padding: 0;
            width:100%;
            height:100%;
            overflow: hidden;
            background: #fff;
        }

        .playerBox {
            width: 90vw;		/* 宽度  页面宽度的90% */

            /* 容器自动水平居中 */
            margin: 0px auto;

            /* 实现垂直居中 距顶部高度  也可以写成 calc((100vh - 60vh)/2) */
            margin-top: 20vh;

            text-align: center;	/* 文字水平居中 */
            background: #fff;

            /* flex */
            display: flex;
            flex-flow: row;
            justify-content: center;
        }

        .error_images {}
        .error_content {
            margin-top: 5vh;
            margin-left: 10vh;
            padding-left: 10vh;
            border-left: solid 1px gray;
        }
        .error_content h2 {
            color: black;
            font-size: 5vh;
        }
        .error_content h3 {
            color: gray;
            font-size: 4vh;
        }
        .error_content p{
            color: darkgray;
            font-size: 3vh;
        }
    </style>
</head>
<body>
<div class="playerBox">
    <div class="error_images">
        <img src="/asset/images/gopher.gif" name="gif">
    </div>
    <div class="error_content">
        <h2>{{.error_code}}</h2>
        <h3>{{.error_title}}</h3>
        <p>{{.error_content}}</p>
    </div>

</div>
</body>
</html>